In [1]:
# CCS/00057/022 - JAMES WASONGA
# CCS/03003/022 - FELIX AWERE


# ASSIGNMENT 4

In [245]:
import os, sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Lab 2
These exercises focus on Pandas. Work through all exercises, searching for help when you need to (ie. frequently).

In [247]:
import pandas as pd

__EXERCISE 1: Pie shop__

_Objective: Create and manipulate DataFrames_
* Create a DataFrame with three columns: month, apple_pie_sales, blueberry_pie_sales
* Summarize which products sold best
* Create a new column to summarize revenues

In [251]:
# YOUR CODE HERE: create the df using the data supplied

months = ['Jan','Feb', 'Mar', 'Apr']
apple_pie_sales = [34, 19, 28, 45]
blueberry_pie_sales = [18, 6, 15, 51]

df = pd.DataFrame({
    'months' : months,
    'apple_pie_sales': apple_pie_sales,
    'blueberry_pie_sales':blueberry_pie_sales
                  
})
print(df)

  months  apple_pie_sales  blueberry_pie_sales
0    Jan               34                   18
1    Feb               19                    6
2    Mar               28                   15
3    Apr               45                   51

In [27]:
# YOUR CODE HERE: calculate total sales of apple pies and total sales of blueberry pies

total_apple_pie_sales = df["apple_pie_sales"].sum()
print(total_apple_pie_sales)

total_blueberry_pie_sales = df['blueberry_pie_sales']
print(total_blueberry_pie_sales.sum())

126
90

In [253]:
# YOUR CODE HERE: create a new columns entitled apple_pie_revenue and blueberry_pie_revenue

# Hint: revenue = units sold * price. Use the prices below.

apple_pie_price = 12
blueberry_pie_price = 15

df['apple_pie_revenue'] = df['apple_pie_sales'] * apple_pie_price
# print(apple_pie_revenue)

df['blueberry_pie_revenue'] = df['blueberry_pie_sales'] * blueberry_pie_price
print(df)

  months  apple_pie_sales  blueberry_pie_sales  apple_pie_revenue  \
0    Jan               34                   18                408
1    Feb               19                    6                228
2    Mar               28                   15                336
3    Apr               45                   51                540

   blueberry_pie_revenue
0                    270
1                     90
2                    225
3                    765

In [257]:
# BONUS: find a way to plot bar charts and pie charts (ha) of the shop's sales


df.plot(x='month', y=['applie_pie_sales','blueberry_pie_sales'], kind='bar')
plt.title('Monthly Pie sales')
plt.xlabel('month')
plt.ylabel('Number sold')
plt.legend(['Apple Pies','Blueberry pies'])
plt.show()

           
total_sales = [df['apple_pie_sales'].sum(),df['blueberry_pie_sales'].sum()]
labels = ['Apple Pies', 'Blueberry Pies']
colors = [ 'red', 'blue']

plt.figure(figsize=(8,8))
plt.pie(total_sales, labels=labels, colors=colors, autopct= '%1.1f%',startangle=90)
plt.title('Total Sales Distribution')
plt.axis('equal')
plt.show()

KeyError: 'month'

__EXERCISE 2: NYC housing__

_Objective: clean and manipulate a real-world dataset_

We are using the PLUTO (Primary Land Use Tax Lot Output) database, which lists every building in New York City.
Source is [NYC Open Data Portal](https://www1.nyc.gov/site/planning/data-maps/open-data/dwn-pluto-mappluto.page). Check the [data dictionary](https://www1.nyc.gov/assets/planning/download/pdf/data-maps/open-data/pluto_datadictionary.pdf?r=18v2beta).

In [219]:
url = 'https://github.com/worldbank/Python-for-Data-Science/raw/master/Spring%202019%208-week%20course/week%203/pluto_shorter.csv'
df = pd.read_csv(url)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_2096\2261435505.py:2: DtypeWarning: Columns (18,19,21,23,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

__Step 1: Inspect and prepare the dataset__

In [223]:
# Use df.head() to see the first five rows. A bit messy, no?
df.head()

,Unnamed: 0,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,...,firm07_flag,pfirm15_flag,rpaddate,dcasdate,zoningdate,landmkdate,basempdate,masdate,polidate,edesigdate
0,0,BX,5641.0,670.0,210.0,516.00,2.0,NaN,13.0,NaN,...,1.0,1.0,12/6/2018,12/20/2018,12/21/2018,12/20/2018,12/21/2018,NaN,NaN,12/20/2018
1,20,QN,4671.0,39.0,407.0,1039.00,2011.0,25.0,19.0,11357.0,...,NaN,NaN,12/6/2018,12/20/2018,12/21/2018,12/20/2018,12/21/2018,NaN,NaN,12/20/2018
2,40,BK,3925.0,32.0,305.0,1172.02,2004.0,19.0,37.0,11208.0,...,NaN,NaN,12/6/2018,12/20/2018,12/21/2018,12/20/2018,12/21/2018,NaN,NaN,12/20/2018
3,60,MN,1836.0,19.0,107.0,189.00,2002.0,3.0,7.0,10025.0,...,NaN,NaN,12/6/2018,12/20/2018,12/21/2018,12/20/2018,12/21/2018,NaN,NaN,12/20/2018
4,80,QN,8898.0,16.0,409.0,4.00,2001.0,27.0,30.0,11421.0,...,NaN,NaN,12/6/2018,12/20/2018,12/21/2018,12/20/2018,12/21/2018,NaN,NaN,12/20/2018

In [225]:
# We'll select some columns to keep
df.columns

Index(['Unnamed: 0', 'borough', 'block', 'lot', 'cd', 'ct2010', 'cb2010',
       'schooldist', 'council', 'zipcode', 'firecomp', 'policeprct',
       'healtharea', 'sanitboro', 'sanitsub', 'address', 'zonedist1',
       'zonedist2', 'zonedist3', 'zonedist4', 'overlay1', 'overlay2',
       'spdist1', 'spdist2', 'spdist3', 'ltdheight', 'splitzone', 'bldgclass',
       'landuse', 'easements', 'ownertype', 'ownername', 'lotarea', 'bldgarea',
       'comarea', 'resarea', 'officearea', 'retailarea', 'garagearea',
       'strgearea', 'factryarea', 'otherarea', 'areasource', 'numbldgs',
       'numfloors', 'unitsres', 'unitstotal', 'lotfront', 'lotdepth',
       'bldgfront', 'bldgdepth', 'ext', 'proxcode', 'irrlotcode', 'lottype',
       'bsmtcode', 'assessland', 'assesstot', 'exemptland', 'exempttot',
       'yearbuilt', 'yearalter1', 'yearalter2', 'histdist', 'landmark',
       'builtfar', 'residfar', 'commfar', 'facilfar', 'borocode', 'bbl',
       'condono', 'tract2010', 'xcoord', 'ycoord', 'zonemap', 'zmcode',
       'sanborn', 'taxmap', 'edesignum', 'appbbl', 'appdate', 'mappluto_f',
       'plutomapid', 'version', 'sanitdistrict', 'healthcenterdistrict',
       'firm07_flag', 'pfirm15_flag', 'rpaddate', 'dcasdate', 'zoningdate',
       'landmkdate', 'basempdate', 'masdate', 'polidate', 'edesigdate'],
      dtype='object')

In [227]:
# Note how this syntax works. You could add extra columns that interest you.
my_cols = ['borough','numfloors','yearbuilt', 'landuse', 'zipcode', 'assesstot', 'xcoord','ycoord', 'builtfar', 'masdate']
df = df[my_cols]

In [229]:
# Cleaner now, right?
df.head()

,borough,numfloors,yearbuilt,landuse,zipcode,assesstot,xcoord,ycoord,builtfar,masdate
0,BX,0.00,0.0,7.0,NaN,59400.0,1044510.0,246734.0,0.00,NaN
1,QN,2.50,1925.0,1.0,11357.0,29738.0,1035479.0,223657.0,0.63,NaN
2,BK,2.75,1920.0,1.0,11208.0,27370.0,1015989.0,187871.0,0.64,NaN
3,MN,6.00,1900.0,2.0,10025.0,510300.0,994273.0,228915.0,4.02,NaN
4,QN,2.00,1901.0,1.0,11421.0,29020.0,1021269.0,190793.0,1.09,NaN

In [231]:
# Here is the key that translates NYC's land use codes into plain English (p. 17 of the data dictionary)
# We'll use the df.map() method to replace the numbers with text we can understand

# BONUS POINTS: repeat this step to substitute the short borough names (eg. MN) with the actual
# full borough names (eg. MN becomes Manhattan).

land_use_dict = {1: 'One & Two Family Buildings',
                2: 'Multi-Family Walk-Up Buildings',
                3: 'Multi-Family Elevator Buildings',
                4: 'Mixed Residential & Commercial Buildings',
                5: 'Commercial & Office Buildings',
                6: 'Industrial & Manufacturing',
                7: 'Transportation & Utility',
                8: 'Public Facilities & Institutions',
                9: 'Open Space & Outdoor Recreation',
                10: 'Parking Facilities',
                11: 'Vacant Land'}

df['landuse'] = df['landuse'].map(land_use_dict)

borough_dic = {
    'MN': 'Manhattan',
    'BX': 'Bronx',
    'BR': 'Brooklyn',
    'QN':  'Queens',
    'SI':  'Staten Island'   
}

df['borough'] = df['borough'].map(borough_dic)
print(df)

             borough  numfloors  yearbuilt                         landuse  \
0              Bronx       0.00        0.0        Transportation & Utility
1             Queens       2.50     1925.0      One & Two Family Buildings
2                NaN       2.75     1920.0      One & Two Family Buildings
3          Manhattan       6.00     1900.0  Multi-Family Walk-Up Buildings
4             Queens       2.00     1901.0      One & Two Family Buildings
...              ...        ...        ...                             ...
42945  Staten Island       0.00        0.0                     Vacant Land
42946         Queens       2.00     1930.0      One & Two Family Buildings
42947         Queens       2.00     1935.0      One & Two Family Buildings
42948  Staten Island       0.00        0.0                     Vacant Land
42949  Staten Island       2.50     1920.0  Multi-Family Walk-Up Buildings

       zipcode  assesstot     xcoord    ycoord  builtfar  masdate
0          NaN    59400.0  1044510.0  246734.0      0.00      NaN
1      11357.0    29738.0  1035479.0  223657.0      0.63      NaN
2      11208.0    27370.0  1015989.0  187871.0      0.64      NaN
3      10025.0   510300.0   994273.0  228915.0      4.02      NaN
4      11421.0    29020.0  1021269.0  190793.0      1.09      NaN
...        ...        ...        ...       ...       ...      ...
42945      NaN     2466.0   918666.0  122034.0      0.00      NaN
42946  11369.0    18630.0  1023094.0  215711.0      0.77      NaN
42947  11385.0    31608.0  1020419.0  195701.0      0.99      NaN
42948      NaN     1370.0   953085.0  141515.0      0.00      NaN
42949  10301.0    17865.0   960275.0  172022.0      0.86      NaN

[42950 rows x 10 columns]

In [233]:
# Cleaner now, right? Add any more data cleaning steps of your choice.

df.head()

,borough,numfloors,yearbuilt,landuse,zipcode,assesstot,xcoord,ycoord,builtfar,masdate
0,Bronx,0.00,0.0,Transportation & Utility,NaN,59400.0,1044510.0,246734.0,0.00,NaN
1,Queens,2.50,1925.0,One & Two Family Buildings,11357.0,29738.0,1035479.0,223657.0,0.63,NaN
2,NaN,2.75,1920.0,One & Two Family Buildings,11208.0,27370.0,1015989.0,187871.0,0.64,NaN
3,Manhattan,6.00,1900.0,Multi-Family Walk-Up Buildings,10025.0,510300.0,994273.0,228915.0,4.02,NaN
4,Queens,2.00,1901.0,One & Two Family Buildings,11421.0,29020.0,1021269.0,190793.0,1.09,NaN

__Step 2: Summarize data using mean(), min/max(), describe() etc.__
* Find out the average price of a building in Manhattan (MN) compared with Queens (QN)
* What was the most expensive building built in the year you were born?
* Compare average building

BONUS: find the average price for buildings in Brooklyn with 5-10 floors built between 2000-2010. Do the same for buildings in Manhattan and Queens with those characteristics.

In [235]:
import pandas as pd

# Sample DataFrame creation for demonstration (if not yet created)
# You can remove this part if you already have the DataFrame loaded with relevant data
data = {
    'borough': ['MN', 'QN', 'BK', 'MN', 'QN', 'BK', 'MN', 'BK', 'QN', 'BK'],
    'price': [1000000, 800000, 500000, 2000000, 1200000, 750000, 3000000, 650000, 950000, 550000],
    'yearbuilt': [1990, 1985, 2005, 2000, 2010, 2001, 1980, 2007, 2003, 2008],
    'numfloors': [3, 5, 8, 12, 6, 9, 20, 7, 5, 10]
}
df = pd.DataFrame(data)

# Mapping the borough codes to full names if necessary (optional)
borough_dict = {
    'MN': 'Manhattan',
    'BK': 'Brooklyn',
    'QN': 'Queens',
    'BX': 'Bronx',
    'SI': 'Staten Island'
}
df['borough'] = df['borough'].map(borough_dict)

# 1. Find the average price of a building in Manhattan compared with Queens
manhattan_avg_price = df[df['borough'] == 'Manhattan']['price'].mean()
queens_avg_price = df[df['borough'] == 'Queens']['price'].mean()
print(f"Average price in Manhattan: ${manhattan_avg_price:.2f}")
print(f"Average price in Queens: ${queens_avg_price:.2f}")

# 2. Find the most expensive building built in the year you were born (let's assume 1995 as an example)
year_born = 1995
most_expensive_building = df[df['yearbuilt'] == year_born]['price'].max()
print(f"Most expensive building built in {year_born}: ${most_expensive_building:.2f}")

# 3. BONUS: Find the average price for buildings in Brooklyn with 5-10 floors built between 2000-2010.
brooklyn_avg_price = df[(df['borough'] == 'Brooklyn') & 
                        (df['numfloors'].between(5, 10)) & 
                        (df['yearbuilt'].between(2000, 2010))]['price'].mean()
print(f"Average price in Brooklyn (5-10 floors, 2000-2010): ${brooklyn_avg_price:.2f}")

# 4. Do the same for Manhattan and Queens with those characteristics.
manhattan_avg_price_specific = df[(df['borough'] == 'Manhattan') & 
                                  (df['numfloors'].between(5, 10)) & 
                                  (df['yearbuilt'].between(2000, 2010))]['price'].mean()
queens_avg_price_specific = df[(df['borough'] == 'Queens') & 
                               (df['numfloors'].between(5, 10)) & 
                               (df['yearbuilt'].between(2000, 2010))]['price'].mean()
print(f"Average price in Manhattan (5-10 floors, 2000-2010): ${manhattan_avg_price_specific:.2f}")
print(f"Average price in Queens (5-10 floors, 2000-2010): ${queens_avg_price_specific:.2f}")

Average price in Manhattan: $2000000.00
Average price in Queens: $983333.33
Most expensive building built in 1995: $nan
Average price in Brooklyn (5-10 floors, 2000-2010): $612500.00
Average price in Manhattan (5-10 floors, 2000-2010): $nan
Average price in Queens (5-10 floors, 2000-2010): $1075000.00

__Step 3: Exploratory visualization using Pandas plotting__

In [237]:
# Try using the function pandas.Series.value_counts
# It returns the unique count of values in a column
# BONUS: Could you produce this output only for Brooklyn?

# df.landuse.value_counts()
# First, make sure the borough names are mapped correctly if needed
borough_dict = {
    'MN': 'Manhattan',
    'BK': 'Brooklyn',
    'QN': 'Queens',
    'BX': 'Bronx',
    'SI': 'Staten Island'
}
df['borough'] = df['borough'].map(borough_dict)

# Applying value_counts to the landuse column only for Brooklyn
brooklyn_landuse_counts = df[df['borough'] == 'Brooklyn']['landuse'].value_counts()
print(brooklyn_landuse_counts)

KeyError: 'landuse'

__YOUR ACTION__: Look up the [pandas.Series.plot](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.plot.html) function, and some [examples of how to use it](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html).

Explore any questions that interest you about New York City's buildings by plotting charts, for example:
* How does price vary with age? (scatter of age vs. price)
* Does the breakdown of building types differ between boroughs? (pie chart of landuse)
* Which zip codes have most and fewest buildings?
* Where are the buildings located? (hint: try a scatter plot of xcoord and ycoord)

In [259]:
# YOUR CODE HERE:

zip_code_counts = df['zipcode'].value_counts()

plt.figure(figsize=(12, 6))
zip_code_counts.plot(kind='bar')
plt.title('Number of Buildings by Zip Code')
plt.xlabel('Zip Code')
plt.ylabel('Number of Buildings')
plt.xticks(rotation=45)
plt.grid(axis='y')
plt.show()

KeyError: 'zipcode'

#### BONUS ADVANCED QUESTION!
Impute missing values for year_built using a custom strategy:
* Replace all NaNs with the mean year_built for buildings of the same `landuse`.
* More advanced version: replace all NaNs with mean `year_built` for buildings of the same `landuse` in the same borough. (eg. multi-family buildings in Brooklyn)

In [2]:
df.isnull().sum()

NameError: name 'df' is not defined